
<div class="pro">
<div class="container">
    <div class="head">
        <button>upload</button>
        <img src="" alt="">
    </div>
    <div class="profile-data">
        <div class="profile-img">
            <!-- <button>upload</button> -->
            <img src="" alt="" class="pro-img">
        </div>
        <div class="name">
            <h2 class="full-name"></h2>
            <h5 class="title">Front End Deveolper</h5>
            <h4 class="country">Egypt</h4>
        </div>
        
    </div>
    
</div>
<div class="social-madia-profile">

</div>
</div>