.container{
    width: 600px;
    height: 600px;
    background-color:aquamarine;
    margin: auto;
    border-radius: 10px;
}
.head{
    height: 200px;
    background-color: bisque;
}
.profile-img{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-top: -18%;
    border-radius: 50%;
    border: solid 2px white;
}
.profile-data{
    padding-left: 20px;
}